@using INFT3050.Areas.Admin.Models;

@model RegisterViewModel
@{
    ViewData["Title"] = "Add Employee";
}

<style>
    .inputBoxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: black;
    }

    input, select {
        width: 200px;
        border-radius: 8px;
        padding: 10px;
    }

    .addItemBtns {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 20px 0;
    }

    .save, .cancel-button {
        color: white;
        border-radius: 8px;
        padding: 10px;
        font-weight: 600;
        border: 2px solid white;
        width: 100px;
        text-align: center;
        text-decoration: none;
    }

    .save {
        background: #56B280;
    }

    .cancel-button {
        background: red;
    }

    .addEmployees {
        display: flex;
        justify-content: center;
        padding: 40px 0;
    }

    .inputForm {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 8px;
        flex-direction: column;
        margin: 0 0 0 0;
        height: 90vh;
        width: 400px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .form-control {
        width: 100%;
    }

    h2 {
        text-align: center;
        color: black;
        font-weight: bold;  
    }

    .inputBox {
        position: relative;
    }

    .dangerWarning {
        
        position: absolute;
        top: 40px;
        left: 240px;
        @*Pointer events*@
        pointer-events: none;
        color: red;
        width: 200px;
        height: 20px;
    }
</style>

<div class="addEmployees">
    <div class="inputForm">
        <h2>Add Employee</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="Account" asp-action="AddEmployee" method="post">
            <div class="inputBoxes">
                <div class="inputBox">
                    <label asp-for="Name">Name</label><br>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="dangerWarning"></span>
                </div>

                <div class="inputBox">
                    <label asp-for="Role" class="form-label">Role</label>
                    <select asp-for="Role" class="">
                        <option>Employee</option>
                        <option>Admin</option>
                    </select>
                </div>

                <div class="inputBox">
                    <label asp-for="Username">Username</label><br>
                    <input type="text" class="form-control" asp-for="Username">
                    <span asp-validation-for="Username" class="dangerWarning"></span>
                </div>

                <div class="inputBox">
                    <label asp-for="Password">Password</label><br>
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="dangerWarning"></span>
                </div>

                <div class="inputBox">
                    <label asp-for="ConfirmPassword">Confirm Password</label><br>
                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="dangerWarning"></span>
                </div>

                <div class="inputBox">
                    <label asp-for="PhoneNumber">Phone Number</label><br>
                    <input type="text" class="form-control" asp-for="PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="dangerWarning"></span>
                </div>
            </div>

            <div class="addItemBtns">
                <button type="submit" class="save">Save</button>
                <a asp-controller="Account" asp-action="ManageUsers" class="cancel-button">Cancel</a>
            </div>
        </form>
    </div>
</div>
