@{
    ViewData["Title"] = "Update password";

}

<style>




</style>

<div class="passwordPg">
    <div class="psswrdBox">
        <label class="password">Update Password</label>
        <input type="password" for="Password" />

        <label class="confirmPassword">Confirm Update Password</label>
        <input type="password" for="ConfirmPassword" />


        <div class="btnOptions">

            <button class="Cancel">
                <a asp-action="" asp-controller="Account">

                    Cancel

                </a>
            </button>

            <button class="updatePsswrd">Update Password</button>
        </div>

       
       

    </div>

</div>
