@model Item
@{
    ViewData["Title"] = "Landing Page";
}

<style>
    .employeeOptions {
        margin-top: 100px;
        margin-bottom: 113px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .box {
        margin: 20px;
        height: 300px;
        width: 300px;
        transition: transform 500ms ease-in-out;
        font-size: 24px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

        .box:hover {
            transform: scale(1.1);
        }

    .orders {
        background: #fab66e;
        border: 8px solid #b86628;
    }

    .users {
        background: #5662cc;
        border: 8px solid #2f2c96;
    }

    .products {
        background: #ed8aa9;
        border: 8px solid #8c2e3e;
    }

    .icon {
        margin-bottom: 10px;
    }

    .welcome {
        margin-top: 50px;
        text-align: center;
    }

    .empPg a{
        text-decoration: none;
        color: white;

    }

    .employeeOptions a{
       color: white;   
    }

</style>

<div class="empPg">


    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<User> signInManager
@if (signInManager.IsSignedIn(User))
{
    <h1 class="welcome">Welcome back, @User.Identity?.Name!</h1>
}

    <div class="employeeOptions">

        <!-- Second option: Users -->

        <a asp-area="Employee" asp-controller="Employee" asp-action="ViewUsers">
            <button class="box users">

                <img src="~/Image/employeesIcon.png" class="icon" alt="View users image" height="40px" />
                View Users
            </button>

        </a>


        <!-- Third option: Products -->

        <a asp-area="Employee" asp-controller="Employee" asp-action="ViewProducts">
            <button class="box products">

                <img src="~/Image/productIcon.png" class="icon" alt="View product image" height="40px" />
                View Items
            </button>

        </a>

    </div>

</div>