@model ItemImageListViewModel
@{
    ViewData["Title"] = "Brand Page";

}

<style>
    .brandHeading {
        color: white;
        background: #6feaf2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-weight: 600;
    }

    .productRow {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Four columns of equal width */
        gap: 60px;
        padding: 20px 0;
    }


</style>


<div>
    <div class="brandHeading">
        <h2>Brand Products</h2>
    </div>


    <div class="productGall">
        <!-- Show all items (products)-->
        <div class="productRow">

            @foreach (var item in Model.Items.Take(8))

            {
                bool imageFound = false;
                <div class="product">
                    <div class="imagebox">
                        @foreach (var image in Model.Images)
                        {
                            if (item.ItemID == image.ItemID)
                            {
                                <div class="imagebox">
                                    <img alt="imageProduct" class="imageProduct" src="~/Image/@image.ImagePath"
                                         height="120px">
                                </div>
                                imageFound = true;
                                break;
                            }
                        }
                        @if (!imageFound)
                        {
                            <div class="imagebox">
                                <img alt="imageProduct" class="imageProduct" src="~/Image/vitabottle.png"
                                     height="120px">
                            </div>
                        }
                    </div>

                    <div class="contentDetails">
                        <div class="productName">@item.ItemName</div>
                        <div class="price">@($"${item.Price:F2}")</div>
                    </div>

                </div>

            }

        </div>



    </div>

</div>
